body {
    font-size: 26px;
    line-height: 1.4;
    color: #000;
    font-family: 'Bradley Hand';
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before, .container:after, .box:before, .box:after, .box_2:before, .box_2:after, .box_3:before, .box_3:after, .box_4:before, .box_4:after, .box_5:before, .box_5:after, .box_6:before, .box_6:after {
    content: " ";
    display: table;
    clear: both;
}
/*--------------NAV*/
.nav {
    text-transform: uppercase;
    font-size: 20px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color .2s linear;
    position: relative;
}

.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    display: none;
    background-color: #be8350;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link:hover {
    color: #be8350;
}

.nav_link:hover::after {
    display: block;
}

/*.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}*/


/*--------------HEADER*/

.header_main {
    position: relative;
    height: 700px;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: #272020;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272020;
    z-index: 1000;
}

.header_inner {
    float: left;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.header_h1 {
    right: 120px;
    top: 100px;
}

.header_h1 {
    position: absolute;
    right: 100px;
    top: 200px;
    width: 470px;
    color: white;
}

.header_h1 h1 {
    line-height: 60px;
    font-size: 56px;
    color: #fff;
    font-family: 'Circle';
    font-weight: 300;
}

.header_info {
    float: left;
    width: 100%;
    position: relative;
}

.header_text_box {
    top: 110px;
}

.header_text_box {
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.header_text_box {
    position: absolute;
    transition: opacity 1s;
    color: #B9B9B9;
    z-index: 0;
    font-size: 30px;
}

.header_text_list {
    float: left;
    width: 100%;
    list-style: none;
}

.header_text_list li b {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
    vertical-align: top;
}

.header_text_list li span {
    display: inline-block;
    margin-bottom: 15px;
}

/*--------------CONSULTATION*/
/*.consultation{
    float:left;
    background-color: white;
    height: 300px;
    padding: 90px;
    width: 100%;
}*/

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    line-height: inherit;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.consultation{
    float: left;
    width: 100%;
    background: #fff;
    padding: 90px 0px;
}

/*.consultation .container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}*/

.one_cons {
    float: left;
    width: 100%;
    position: relative;
}

.cons_text{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 38px;
    width: 287px;
    line-height: 1.2;
    font-weight: 400;
}

/*.one_cons{
    width: 100%;
    margin-right:30px;
    display:flex;
}*/

/*.cons_text p{
    font-size: 30px;
}*/

.input_info{
    /*margin-left: 100px;
    width: 100%;
    position: relative;*/
    float: right;
    width: 785px;
}

form {
    display: block;
    margin-top: 0em;
}

.box_4 {
    margin-left: -20px;
    margin-right: -20px;
}

.input {
    float: left;
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    color: #979797;
    padding: 15px 0px;
    transition: 0.2s;
    border-bottom: 1px solid rgba(109,109,109,0.3);
    color: #000;
}

.box_input{
    width: 50%;
    float: left;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.check{
    font-size: 14px;
}

.button {
    margin-top: 30px;
    float: right;
    width: 240px;
    padding: 15px;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: 1px solid #BEA26A;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.2s;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/*--------------SLIDER*/

.swiper {
    width: 100%;
    height: 600px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*--------------FOOTER*/
.footer {
    position: relative;
    height: 100px;
    width: 100%;
    float: left;
    background-color: #504242;
}

.name_logo {
    color: white;
    margin-top: 10px;
    margin-left: 7em;
}

.adress {
    color: white;
    margin-left: 20em;
    font-size: 16px;
}